.content {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin: 0;
}

.auth-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 1px solid gray;
    border-radius: 2em;
    box-shadow: 0 1rem 1px 0 rgba(0, 0, 0, 0.2);
    padding: 1em 0;
}

@media only screen and (max-width: 600px) {
    .auth-container {
        min-width: none;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    
    .content {
        align-items: flex-start;
        justify-content: flex-start;
    }
}