<app-header></app-header>
<div class="content" role="main">
    <div class="project">
        <img src="https://i.snap.as/fH3xL7iw.png">
        <div class="description">
            <h2>Cowork</h2>
            <p>Cowork is a free, gamified productivity app and virtual coworking space. It's built with task management features for students, colleagues, and freelancers.</p>
        </div>
        <div class="links">
            <a href="https://joincowork.com">Home</a>
            <a routerLink="/blog/tag:Cowork" routerLinkActive="active">Blog posts</a>
        </div>
    </div>
    <div class="project">
        <img src="https://i.snap.as/vIWhlDdy.jpg">
        <div class="description">
            <h2>???</h2>
            <p>There's more coming soon...</p>
        </div>
        <div class="links">
        </div>
    </div>
</div>